<!-- wp:template-part {"slug":"header-dev","tagName":"header","className":"is-position-sticky-top"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:heading {"textAlign":"center","level":1,"className":"is-style-mateuswetah-text-shadowed","fontSize":"wtf"} -->
<h1 class="wp-block-heading has-text-align-center is-style-mateuswetah-text-shadowed has-wtf-font-size">Portfólio</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size">Conheça meus projetos como desenvolvedor</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:block {"ref":813} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->