<!-- wp:template-part {"slug":"header-dev","area":"header"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":12,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template {"align":"wide"} -->
<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"className":"is-style-default","fontSize":"medium"} -->
<p class="is-style-default has-medium-font-size" style="font-style:normal;font-weight:700"><a href="http://localhost:10013/fotos/" data-type="tainacan-collection" data-id="2096">← </a><a href="http://localhost:10013/portfolio/" data-type="tainacan-collection" data-id="1051">portfólio</a></p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"className":"is-style-mateuswetah-text-shadowed","fontSize":"xx-large"} /-->

<!-- wp:post-terms {"term":"tnc_tax_1038","separator":"","className":"is-style-mateuswetah-links-as-tags"} /-->

<!-- wp:tainacan/item-metadatum {"templateMode":true,"collectionId":1051,"metadatumId":1056,"metadatumType":"Tainacan\\Metadata_Types\\Core_Description","style":{"typography":{"lineHeight":"1.5"}},"fontSize":"medium"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:tainacan/item-gallery {"blockId":"5e14e1f6-1bcd-48b0-8107-cf8d3ea43bb3","collectionId":"1051","layoutElements":{"main":true,"thumbnails":false},"hideFileCaptionMain":true,"hideFileNameLightbox":true,"hideFileCaptionLightbox":true,"hideFileDescriptionLightbox":true,"lightboxHasLightBackground":true,"templateMode":true,"className":"is-style-mateuswetah-image-shadowed"} /-->

<!-- wp:tainacan/item-metadatum {"templateMode":true,"collectionId":1051,"metadatumId":1066,"metadatumType":"TAINACAN_URL_Plugin_Metadata_Type","textAlign":"center"} /-->

<!-- wp:tainacan/item-metadatum {"templateMode":true,"collectionId":1051,"metadatumId":1058,"metadatumType":"Tainacan\\Metadata_Types\\Relationship"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"align":"center","placeholder":"Adicione texto ou blocos que serão exibidos quando a consulta não retornar resultados."} -->
<p class="has-text-align-center">Parece que este item não existe!</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"},"fontSize":"large"} -->
<div class="wp-block-group has-large-font-size" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-navigation-link {"type":"previous","label":"","showTitle":true,"arrow":"arrow"} /-->

<!-- wp:post-navigation-link {"label":"","showTitle":true,"arrow":"arrow"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->